<% include common/header.ejs %>
    <div class="container">
        <div class=" row">
            <div class="backgr col-4 col-sm-6 col-md-8 col-lg-9 padi">
                <div>
                    <div class="text-center">
                        <span class="pizza">Усі піци</span>
                        <span class="smallb">8</span>
                    </div>
                    <div id="pizza_filter" class="list text-center">
                    </div>
                </div>
                <div class="row mar " id="pizza_list">
                </div>
                <% include common/footer.ejs %>
            </div>
            <div class="order col-8 col-sm-6 col-md-4 col-lg-3 ">
                <div class="fixed-top affix ">
                    <div id="node" class="bt bot ">
                        <h1>Замовлення <span id="pizza_qty" class="smallb">0</span> </h1>
                        <a href="#" id="clear" class="btn grey clears">Очистити замовлення</a>
                    </div>
                    <div class="pizzas-list">
                        <div id="cart"></div>
                    </div>
                    <div class="light-grey">
                        <div style=" height: 30%;" class="font2">
                            <span>Сума замовлення</span>
                            <span style="float: right;">&ensp;грн</span>
                            <span id="money" style="float: right;">0 </span>

                        </div>
                        <div style="margin-top: 20px;">
                            <a href="order.html" class="btn btn-warning button">Замовити</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>