<div class="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-4 col-sm-6 col-md-8 col-lg-9 header">
                <div class="col-sm-1">
                    <div class="badge-wrapper">
                        <div class="badge">
                            PIZZA <br> KMA
                        </div>
                        <div class="bt">
                            <div class="triangleL "></div>
                            <div class="triangleR "></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-11">
                    <div class="header-top-section">
                        <div class="bt">
                            <span>(044) 222 5 222</span>
                            <span class="visible-lg visible-md">24 години 7 днів на тиждень</span>
                            <span class="visible-lg">Безкоштовна доставка піци</span>
                            <a id="enter" href="#" class="btn btn-xs btn-warning" style="align-self: flex-end;">Ввійти</a>
                        </div>
                        <div>
                            <span class="col">Піца</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>